@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
      <p> fundo</p>
        <p> titulo para pagina </p>

        <hr>
         <p>posição y = inicial </p>
        <p>posição x = inicial </p>
         <p>tempo de entrada = data-start="1000" (1 segundo) </p>
         <p> velocidade de movimento / animação = data-speed="4000"  - nota: quanto maior mais lento</p>
        <p>tipo de animação =  data-easing="easeOutElastic"></p>
        <p>tamanho da imagem = width="135" height="186" </p>
    </body>
</html>
