@{
    
}


   
    <!--  ==========  -->
    <!--  = Footer =  -->
    <!--  ==========  -->
    <footer>
        
        <!--  ==========  -->
        <!--  = Upper footer =  -->
        <!--  ==========  -->
        <div class="foot-light">
            <div class="container">
                <div class="row">

                    <div class="row featured-items blocks-spacer">
            <div class="span8">
                
                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
            	<div class="main-titles lined">
            	    <h2 class="title"><span class="light">Produtos</span> Visitados</h2>
            	    <div class="arrows">
                        <a href="#" class="icon-chevron-left" id="featuredItemsLeft"></a>
                        <a href="#" class="icon-chevron-right" id="featuredItemsRight"></a>
                    </div>
            	</div>
            </div>
            
            <div class="span8">
                <!--  ==========  -->
                <!--  = Carousel =  -->
                <!--  ==========  -->
                <div class="carouFredSel" data-autoplay="false" data-nav="featuredItems">
                    <div class="slide">
                        <div class="row">
                    	 
                    	 
                    	
                    	 
                	            	
    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span2">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="images/dummy/featured-products/featured-1.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$115</h4>
    	            	            <h5 class="no-margin">Horsefeathers 652</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	             
                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->
    	            	 
                    	 
                    	
                    	 
                	            	
    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span2">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="images/dummy/featured-products/featured-2.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$91</h4>
    	            	            <h5 class="no-margin">Horsefeathers 735</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star"></span>
                    	            <span class="icon-star"></span>
                    	            <span class="icon-star"></span>
                    	            <span class="icon-star"></span>
                    	             
                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->

 	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span2">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="images/dummy/featured-products/featured-1.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$115</h4>
    	            	            <h5 class="no-margin">Horsefeathers 652</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	             
                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->
    	            	 
                    	 
                    	
                    	 
                	            	
    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span2">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="images/dummy/featured-products/featured-2.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$91</h4>
    	            	            <h5 class="no-margin">Horsefeathers 735</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star"></span>
                    	            <span class="icon-star"></span>
                    	            <span class="icon-star"></span>
                    	            <span class="icon-star"></span>
                    	             
                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->    	            	 
                    	 
                    	
                    	 
                	            	
    	      
    	            	 
                    	 
                    	
                    	 
            	        </div>
            	    </div>
            	    <div class="slide">
            	        <div class="row">
                    	 
                	            	
    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span2">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="images/dummy/featured-products/featured-1.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$41</h4>
    	            	            <h5 class="no-margin">Horsefeathers 515</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	             
                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->
    	            	 
                    	 
        	 
                	            	
    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span2">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="images/dummy/featured-products/featured-3.png" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="#" class="btn more btn-primary">More</a>
    	            	        		    <a href="#" class="btn buy btn-danger">Buy</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">$61</h4>
    	            	            <h5 class="no-margin">Horsefeathers 405</h5>
    	            	        </div>
    	            	        <p class="desc">59% Cotton Lorem Ipsum Dolor Sit Amet esed ultrices sapien nunc nam frignila</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star"></span>
                    	            <span class="icon-star"></span>
                    	             
                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->
    	            	    	            	</div> 
                	</div>
                </div> <!-- /carousel -->
            </div>
            
        
               
                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Inscrição no </span> Informativo</h3>
                        </div>
                        <p>Cadastre-se e receba Novidades e Ofertas Exclusivas. </p>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                        <form action="http://proteusthemes.us4.list-manage1.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&amp;id=5dad3f35e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-inline" target="_blank" novalidate="" />
                            <div class="mc-field-group">
                                <input type="email" value="" placeholder="Digite aqui o seu e-mail." name="EMAIL" class="required email" id="mce-EMAIL" />
                                <input type="submit" value="Cadastrar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" />
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            
                        </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </div> <!-- /upper footer -->
        
        <!--  ==========  -->
        <!--  = Middle footer =  -->
        <!--  ==========  -->
        <div class="foot-dark">
            <div class="container">
                <div class="row">
                    
                    <!--  ==========  -->
                    <!--  = Menu 1 =  -->
                    <!--  ==========  -->
                    <div class="span2">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Acesso </span>Rápido</h3>
                        </div>
                        <ul class="nav bold">
                            <li><a href="/sobre">Quem somos</a></li>
                            <li><a href="/sobre#comprasegura">Compra Segura</a></li>
                            <li><a href="/sobre#politicatroca">Trocas e Devoluções</a></li>
                            <li><a href="/sobre#politicaprivacidade">Política de Privacidade</a></li>
                            <li><a href="/contato">Área do Cliente</a></li>
                        </ul>
                    </div>
                    
                    <!--  ==========  -->
                    <!--  = Menu 2 =  -->
                    <!--  ==========  -->
                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Formas de </span>Pagamento</h3>
                        </div class="bordered">
                       <img STYLE="width:400px; height:100px"  src="/images/pagseguro.png" alt="PagSeguro" />
                    </div>
                    
                    <!--  ==========  -->
                    <!--  = Menu 3 =  -->
                    <!--  ==========  -->
         <div class="span6">
                        <div class="bordered">
                            <div class="fill-iframe">
                                <div class="fb-like-box" data-href="https://www.facebook.com/celiajoias.loja" data-width="600" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        </div> <!-- /middle footer -->
        
        <!--  ==========  -->
        <!--  = Bottom Footer =  -->
        <!--  ==========  -->
        <div class="foot-last">
            <a href="#" id="toTheTop">
                <span class="icon-chevron-up"></span>
            </a>
            <div class="container">
                <div class="row">
                    <div class="span6">
                         @DateTime.Now.Year &copy; Célia Jóias - Todos os direitos reservados
                    </div>
                    <div class="span6">
                        <div class="pull-right">Desenvolvido por <a href="http://rdcsoluções.com.br/" target="_blank">RDC Soluções</div>
                    </div>
                </div>
            </div>
        </div> <!-- /bottom footer -->
    </footer> <!-- /footer -->
    
    
    
 @RenderPage("~/Shared/Layout/_modal.cshtml")  