@{
    
var db = Database.Open("CeliaJoias");

//Categorias
var slqSelect = "SELECT * FROM Categoria where Ativo = 'true' order by Titulo;";


    
}


                <div class="nav-collapse collapse">
                  <ul class="nav" id="mainNavigation">
                     <li><a href="/">Página Inicial </a></li>
                    <li class="dropdown">
                        <a href="~/produtos" class="dropdown-toggle"> Produtos <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            @foreach (var categoria in db.Query(slqSelect))
                            {
                            <li><a href="~/categoria/@categoria.Apelido">@categoria.Titulo</a></li>
                            }
 

                        </ul>
                    </li>                   
                    <li class="dropdown">
                        <a href="features.html" class="dropdown-toggle">Lançamentos <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li><a href="icons.html">Icons</a></li>
                            <li class="dropdown">
                                <a href="features.html" class="dropdown-toggle"><i class="icon-caret-right pull-right visible-desktop"></i> All Features</a>
                                <ul class="dropdown-menu">
                                    <li><a href="features.html#headings">Headings</a></li>
                                    <li><a href="features.html#alertBoxes">Alert Boxes</a></li>
                                    <li><a href="features.html#tabs">Tabs</a></li>
                                    <li><a href="features.html#buttons">Buttons</a></li>
                                    <li><a href="features.html#toggles">Toggles</a></li>
                                    <li><a href="features.html#quotes">Quotes</a></li>
                                    <li><a href="features.html#gallery">Gallery Grids</a></li>
                                    <li><a href="features.html#code">Code</a></li>
                                    <li><a href="features.html#columns">Columns</a></li>
                                    <li><a href="features.html#maps">Maps</a></li>
                                    <li><a href="features.html#progress">Progress Bars</a></li>
                                    <li><a href="features.html#tables">Tables</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/sobre">Quem Somos</a></li>
                    <li><a href="/contato">Fale Conosco</a></li>
                  </ul>
                  
                  <!--  ==========  -->
                  <!--  = Search form =  -->
                  <!--  ==========  -->
                  <form class="navbar-form pull-right" action="#" method="get" />
                      <button type="submit"><span class="icon-search"></span></button>
                      <input type="text" class="span1" name="search" id="navSearchInput" />
                  </form>
                </div><!-- /.nav-collapse -->