@{
    
}

    <!--  = Login =  -->
    <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="loginModalLabel"><span class="light">Bem Vindo ao </span> Célia Jóias!</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="~/conta/acesso" >
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmail">Username</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="email" name="email" placeholder="email" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password" class="input-block-level" id="senha" name="senha" placeholder="senha" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" />
                            Lembra-me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary input-block-level bold higher">
                    ENTRAR
                </button>
            </form>
            <p class="center-align push-down-0">
                <a href="/conta/acesso">Esqueceu a senha?</a> <br>
                 <a data-toggle="modal" role="button" href="#registerModal" data-dismiss="modal">Ainda não é cadastrado?</a>
            </p>
        </div>
    </div>
    
    <!--  = Register =  -->
    <div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="registerModalLabel"><span class="light">Quero me Cadastrar no site  </span> Célia Jóias</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="#" />
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Username</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="inputUsernameRegister" placeholder="Username" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmailRegister">Email</label>
                    <div class="controls">
                        <input type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputPasswordRegister">Password</label>
                    <div class="controls">
                        <input type="password" class="input-block-level" id="inputPasswordRegister" placeholder="Password" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="cep">CEP</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="cep" placeholder="cep" />
                    </div>
                </div>
                <button type="submit" class="btn btn-danger input-block-level bold higher">
                    CADASTRAR
                </button>
            </form>
            <p class="center-align push-down-0">
                <a data-toggle="modal" role="button" href="#loginModal" data-dismiss="modal">Já é cadastrado?</a>
            </p>
            
        </div>
    </div>

