@{
    
}

<div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="premium-random" data-slotamount="3">
                    <img src="/images/dummy/slides/modelos/slide01.jpg" alt="slider img" width="1400" height="377" />
                    
                    <!-- imagens -->
                    <div class="caption lft ltt" data-x="500" data-y="0" data-speed="300" data-start="2600" data-easing="easeInOutCubic">
                        <img src="/images/dummy/slides/1/alianca01.png" alt="satisfied customer" width="108" height="139" />
                    </div>
                    <div class="caption lft ltt" data-x="720" data-y="0" data-speed="300" data-start="2800" data-easing="easeInOutCubic">
                        <img src="/images/dummy/slides/1/anel01.png" alt="satisfied customer" width="108" height="191" />
                    </div>
                    <div class="caption lft ltt" data-x="940" data-y="0" data-speed="300" data-start="3000" data-easing="easeInOutCubic">
                        <img src="/images/dummy/slides/1/anel02.png" alt="satisfied customer" width="179" height="347" />
                    </div>
                   
                    
                    
                    <!-- texts -->
                    <div class="caption lfl big_theme" data-x="120" data-y="120" data-speed="1000" data-start="500" data-easing="easeInOutBack">
                        Promoções
                    </div>
                    
                    <div class="caption lfl small_theme" data-x="120" data-y="190" data-speed="1000" data-start="700" data-easing="easeInOutBack">
                       Conheça o nosso blog com promoções especiais.
                    </div>
                    
                    <a href="/blog" class="caption lfl btn btn-primary btn_theme" data-x="120" data-y="260" data-speed="1000" data-start="900" data-easing="easeInOutBack">
                       Saiba mais.
                    </a>
                </li><!-- /slide -->
                
                <li data-transition="premium-random" data-slotamount="3">
                    <img src="/images/dummy/slides/2/slide.jpg" alt="slider img" width="1400" height="377" />
                    
                    <!-- woman -->
                    <div class="caption lfb ltb" data-x="800" data-y="50" data-speed="1000" data-start="1000" data-easing="easeInOutCubic">
                        <img src="/images/dummy/slides/2/facebook1.jpg" alt="woman" width="361" height="374" />
                    </div>
                    <!-- baloons -->
                    <div class="caption lft ltt" data-x="570" data-y="50" data-speed="4000" data-start="1000" data-easing="easeOutElastic">
                        <img src="/images/dummy/slides/2/Facebook_like.png" alt="baloon" width="135" height="186" />
                    </div>

                    
                    <!-- texts -->
                    <div class="caption lfl big_theme" data-x="120" data-y="120" data-speed="1000" data-start="500" data-easing="easeInOutBack">
                        Facebook
                    </div>
                    
                    <div class="caption lfl small_theme" data-x="120" data-y="190" data-speed="1000" data-start="700" data-easing="easeInOutBack">
                        Curta a nossa fanpage no facebook.
                    </div>
                    
                    <a href="https://www.facebook.com/celiajoias.loja" target="_blank" class="caption lfl btn btn-primary btn_theme" data-x="120" data-y="260" data-speed="1000" data-start="900" data-easing="easeInOutBack">
                        Acesse.
                    </a>
                </li><!-- /slide -->                
                
                
            <div class="tp-bannertimer"></div>
        </div>
        <!--  ==========  -->
        <!--  = Nav Arrows =  -->
        <!--  ==========  -->
        <div id="sliderRevLeft"><i class="icon-chevron-left"></i></div>
        <div id="sliderRevRight"><i class="icon-chevron-right"></i></div>
    </div> 