@{
    
//Colocar um função para redirecionar esta pagina para a pagina inicial sempre que a manutenção não estiver ativa

// Colacar espaço para texto personalizado

// colocar contador de tempo para retorno do site (opcional)

//Colocar uma manutenção programada no caso de realização automatica de backup pelo sistema, alertando aos usuarios sobre a maunteção
// (não informando exatamente o motivo).




}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Site em manutenção</h1>
    </body>
</html>
