@{
    

var totallinha = 3;
var produtolinha = 3;
var produtosdestaque = 9;
var produtoinicial = 1;
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        

          @for(int l=0; l< totallinha; l++){
            
          
            for(int p=0; p< produtolinha && produtoinicial <= produtosdestaque ; p++){
                <text>
                <p>Produto (@produtoinicial)</p>
                 </text>
                produtoinicial++;
                }

            
            <hr />
 
            
        }

    </body>
</html>
