@{
    
}

 
<!DOCTYPE html>
<!--[if lt IE 8]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Célia Jóias - Informações</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="ProteusThemes" />

    <!--  Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext,greek' rel='stylesheet' type='text/css' />
    
    <!-- Twitter Bootstrap -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="stylesheets/responsive.css" rel="stylesheet" />
    <!-- Slider Revolution -->
    <link rel="stylesheet" href="js/rs-plugin/css/settings.css" type="text/css" />
    <!-- jQuery UI -->
    <link rel="stylesheet" href="js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" />
    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="js/prettyphoto/css/prettyPhoto.css" type="text/css" />
    <!-- main styles -->
     
    <link href="stylesheets/main.css" rel="stylesheet" />
     
    

    <!-- Modernizr -->
    <script src="js/modernizr.custom.56918.js"></script>    

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch/144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch/114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch/72.png" />
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch/57.png" />
    <link rel="shortcut icon" href="images/apple-touch/57.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

   
  <body data-spy="scroll" data-target="#spyMenu" data-offset="85">
   
    
       @RenderPage("~/Shared/Layout/_top.cshtml")    
     
    
    
    
    <!--  ==========  -->
    <!--  = Breadcrumbs =  -->
    <!--  ==========  -->
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">Webmarket</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="about-us.html">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="push-up blocks-spacer">
            <div class="row">
                
                <!--  ==========  -->
                <!--  = Sidebar =  -->
                <!--  ==========  -->
                <aside class="span3">
                    <div class="sidebar-item">
                        
                        <!--  ==========  -->
                        <!--  = Sidebar Title =  -->
                        <!--  ==========  -->
                        <div class="underlined">
                        	<h3><span class="light">Our</span> Team</h3>
                        </div>
                        
                        <!--  ==========  -->
                        <!--  = Menu (affix) =  -->
                        <!--  ==========  -->
                        <div class="row">
                        	<div class="span3" id="spyMenu">
		                    	<ul class="nav nav-pills nav-stacked">
		                    	    <li><a href="#sobreprodutos">Sobre os Produtos <i class="icon-caret-right pull-right"></i></a></li>
		                    	    <li><a href="#comprasegura">Compra Segura <i class="icon-caret-right pull-right"></i></a></li>
		                    	    <li><a href="#politicatroca">Política de Troca<i class="icon-caret-right pull-right"></i></a></li>
		                    	    <li><a href="#politicaprivacidade">Política de Privacidade <i class="icon-caret-right pull-right"></i></a></li>
		                    	</ul>
                        	</div>
                        </div>
                        
                    </div>
                </aside> <!-- /sidebar -->
                
                <!--  ==========  -->
                <!--  = Main content =  -->
                <!--  ==========  -->
                <section class="span9">
                    
                    <!--  ==========  -->
                    <!--  = Title =  -->
                    <!--  ==========  -->
                    <div class="underlined push-down-20">
                        <h3><span class="light">Quem </span>Somos</h3>
                    </div> <!-- /title -->
                    
                    <!--  ==========  -->
                    <!--  = Description=  -->
                    <!--  ==========  -->
                    <section class="blocks-spacer">
                        <h5><span class="light">How</span> Everything Started</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit.</p>
                        
                        <h5><span class="light">What</span> Happens Next</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit.</p>
                        
                        <h5><span class="light">And</span> Who We Are Today!</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit.</p>
                	</section>
                	
                    <!--  ==========  -->
                    <!--  = Team Members =  -->
                    <!--  ==========  -->
                    <section>
                        
                        <!--  ==========  -->
                        <!--  = Title =  -->
                        <!--  ==========  -->
                        <div class="underlined push-down-20">
                            <h3><span class="light">Faces</span> Behind The Webmarket</h3>
                        </div> <!-- /title -->
                        
                        <!--  = Quem Somos =  -->
                        <div class="row-fluid push-down-20" id="sobreprodutos">
                            <div class="span4">
                                <a href="#"><img src="images/dummy/about-us/profile-1.jpg" alt="person" width="550" height="660" /></a>
                            </div>
                            <div class="span4">
                                <h4><span class="light">Jaka</span> Šmid</h4>
                                <h6 class="move-title-up">Senior Designer</h6>
                                <p>Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet inteum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="span4">
                                <blockquote>
                                    <i class="icon-quote-left icon-5x"></i>
                                    <p>Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre. Dec lobortis dui sagittis, ultrices nuncre. Lorem ipsum dolor sit amet, coetur adipiscing elit.</p>
                                </blockquote>
                            </div>
                        </div>
                        
                        <!--  = Compra Segura =  -->
                        <div class="row-fluid push-down-20" id="comprasegura">
                            <div class="span4">
                                <blockquote>
                                    <i class="icon-quote-left icon-5x"></i>
                                    <p>Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre. Dec lobortis dui sagittis, ultrices nuncre. Lorem ipsum dolor sit amet, coetur adipiscing elit.</p>
                                </blockquote>
                            </div>
                            <div class="span4">
                                <h4><span class="light">Primož</span> Cigler</h4>
                                <h6 class="move-title-up">Code Ninja</h6>
                                <p>Lorem ipsum dolor sit amet, coetur adipiscing elit. Ut feugiat mauris et magna egestas porta. Curabiturittis sagittis neque rutrum congue. Dec lobortis dui sagittis, ultrices nuncre, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet inteum ligula placerat. Maecenas auctor, sem nec eleifend blandit. Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="span4">
                                <a href="#"><img src="images/dummy/about-us/profile-2.jpg" alt="person" width="550" height="660" /></a>
                            </div>
                        </div>
                        
                        <!--  = Politica de Troca =  -->
                        <div class="row-fluid push-down-20" id="politicatroca">
                           <h2>Política de Troca e Devoluções</h2>
<p>Com o objetivo de atender plenamente ao cliente em nossa loja virtual, estabelecemos uma Política de Troca e Devolução de acordo com as necessidades dos clientes e com as normas civis, em especial as constantes do Código de Defesa do Consumidor. Estas condições de compra compõem as cláusulas de contratação por adesão, as quais o consumidor concede ciência e aceitação, para a realização das compras. A efetivação da compra consiste em plena concordância com as presentes regras.</p>
<p>Os produtos deverão ser encaminhados, exclusivamente, para a loja Célia Jóias ? <br>Caixa Postal ().</p>
<p>Embale o(s) produto(s) em desacordo juntamente com a Nota Fiscal e os dados abaixo descritos preenchidos no verso da nota fiscal.</p>
<p>O produto será enviado para o endereço informado por e-mail e, obrigatoriamente, terá que estar acompanhado da 1ª via (guia branca) da nota fiscal, com os seguintes dados descrito no verso:</p>
<ul>
	<li>Nome completo;</li>
	<li>Endereço completo;</li>
	<li>Número do pedido;</li>
	<li>Número de Protocolo (obtido na Central de Atendimento);</li>
	<li>Nome e Código do produto a ser devolvido;</li>
	<li>Motivos pelos quais entende ser o produto defeituoso ou, no caso de ausência de defeito, os motivos de troca e/ou desistência;</li>
	<li>CPF e dados de conta bancária (nome do banco, nº do banco, nº da agência e nº da conta corrente, com dígitos), exclusivamente para o caso de ressarcimento (desistência);</li>
	<li>Assinatura do cliente.</li>
</ul>
<p>As despesas com frete serão reembolsadas somente nos casos de troca por defeito do produto, e se todas as condições desta Política de Troca, cumulativamente, forem cumpridas. Não serão ressarcidos os custos de frete decorrentes de troca por insatisfação.</p>
<p>Todas as ocorrências que envolvam troca ou devolução devem ser comunicadas à nossa Central de Atendimento ao cliente. Produto devolvido sem o procedimento acima descrito será reenviado ao cliente pela empresa.<br><br>Troca por Defeito do Produto<br><br>Em no máximo 30 (trinta) dias, contados a partir do recebimento do produto ou do aparecimento do defeito, devendo obrigatoriamente ser respeitadas as seguintes condições:</p>
<ul>
	<li>Envios de peças para trocas e ou devoluções deverão ser feitos pelo correio via PAC, fretes por Sedex a cobrar não serão recebidos pela Camila Klein Online;</li>
	<li>Quando o defeito for aparente, produtos devolvidos deverão estar sem nenhuma intervenção que implique em depreciação da peça, acompanhados da nota fiscal, etiquetas, tag?s, todos os acessórios e na embalagem original;</li>
	<li>A mercadoria será analisada e em no máximo 30 (trinta) dias será apresentada ao consumidor a solução.</li>
</ul>
<p>O prazo acima descrito, poderá ser prorrogado por mais 7 (sete) a 90 (noventa) dias, com a aprovação do cliente.<br><br>Troca por Insatisfação ou Desistência<br><br>Em no máximo 7 (sete) dias, contados a partir do recebimento da mercadoria, devendo obrigatoriamente o produto não apresentar sinais de uso, e estar em perfeitas condições, com a etiqueta afixada.</p>
<p>Este tipo de troca somente para venda pelo canal Online.<br><br>Restituição de Valores<br><br>A restituição dos valores ou a troca dos produtos com defeito somente será processada após o recebimento e análise das condições do(s) mesmo(s) pelo setor de Controle de Qualidade.</p>
<p>O consumidor irá efetivar os procedimentos de devolução, acrescentando às informações solicitadas os dados pessoais e de conta corrente, para restituição da importância paga, para a hipótese de não ser possível o estorno de pagamento em cartão de crédito.</p>
<p>O estorno de valores de compra que necessitem ser efetuados via depósito terão o prazo de até 7 (sete) dias úteis para serem realizados pela Camila Klein Online.Se o estorno não puder ser feito, inclusive por força da venda por outro modo de pagamento, o valor da compra será creditado em conta bancária do consumidor, conforme informado na documentação de devolução. Não serão efetivados ressarcimento em conta bancária de terceiros.</p>
<p>Devolução do Produto ao Cliente<br><br>O produto será devolvido para o Cliente sem direito de substituição ou indenização quando houver os seguintes itens de reprovação:</p>
<ul>
	<li>Ausência de defeito (não constatação do dano apontado pelo cliente);</li>
	<li>Indícios de uso inadequado do produto;</li>
	<li>Indícios de dano acidental ou provocado;</li>
	<li>Desgaste natural em decorrência do uso;</li>
	<li>Produto adquirido em promoção.</li>
</ul>
<p>Se o produto não estiver de acordo com as condições descritas nesta Política de Troca, a empresa imediatamente devolverá o produto, sem prévio aviso, sendo o consumidor o único responsável pelo frete dos Correios.</p>
<p>No momento do recebimento do produto para analise de troca, a Célia Jóias confirmará a chegada, enviando por e-mail as condições do produto, no prazo máximo de 3 (três) dias úteis.<br><br>Disponibilidade do Produto<br><br>Se o produto para o qual for autorizada a troca não estiver disponível em nossos estoques, o cliente terá as seguintes opções a seu critério:</p>
<ul>
	<li>Outro produto semelhante e com igual valor e a restituição do frete;</li>
	<li>A restituição total do valor pago, inclusive o frete.</li>
</ul>
<p>Precauções</p>
<ul>
	<li>Toda mercadoria deve ser conferida no ato da entrega;</li>
	<li>Recuse produtos em embalagens abertas ou produtos avariados;</li>
	<li>Todo cancelamento, com devolução do valor pago ao cliente, deverá ser solicitado pelo nosso Serviço de Atendimento ao Cliente</li>
</ul>
                            
                        </div>
                        <hr>
                        <!--  = Andre =  -->
                        <div class="row-fluid push-down-20" id="politicaprivacidade">
                           <h2>Política de Privacidade</h2>

<p>Esta Política de Privacidade descreve os detalhes em relação às suas informações pessoais voluntariamente cedidas à celiajoias.com, tais como informações de contato pessoal e endereço.
Nossa loja respeita o sigilo de suas informações e garante que seus dados não serão disponibilizados, cedidos ou comercializados para terceiros.<br>
Todas as informações fornecidas em nosso site são de uso exclusivo para o procedimento de compra, personalização, facilitação e não são disponibilizadas a terceiros. Os dados fornecidos são registrados em nosso banco de dados de forma automatizada e armazenados com total segurança sem a intervenção humana.<br>
Os e-mails e telefones disponibilizados são utilizados apenas para contatos referentes às compras realizadas em nosso site. Com prévia autorização dos clientes, enviamos e-mails informando as promoções vigentes em nossa loja, porém nossos clientes podem solicitar o não recebimento das ofertas.<br>
Não há o armazenamento de informações que não sejam necessárias para a efetivação da compra. O uso do CPF é exigido por lei para a emissão de notas fiscais e para o envio de mercadorias.<br>
As senhas fornecidas em nosso banco de dados são arquivadas de maneira criptografada, permitindo que apenas o dono do cadastro tenha conhecimento.<br>
Todas as informações contidas neste site são propriedade da Célias Jóias, portanto, não poderão ser alteradas, copiadas, extraídas ou de qualquer forma utilizadas sem a prévia e expressa autorização por escrito. Desta forma, ao acessar o site www.celiajoias.com, o usuário fica ciente que a utilização indevida das informações aqui contidas pode acarretar sanções civis e criminais.
Célia Jóias pode fazer modificações desta Política de Privacidade.</p>
                        </div>
                        
                	</section>
                	
                	
                	<hr />
                	
                </section> <!-- /main content -->
            </div>
        </div>
    </div> <!-- /container -->
    
     @RenderPage("~/Shared/Layout/_footer.cshtml")  


    <!--  ==========  -->
    <!--  = JavaScript =  -->
    <!--  ==========  -->
    
    <!--  = FB =  -->
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=126780447403102";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    
    <!--  = jQuery - CDN with local fallback =  -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write('<script src="js/jquery.min.js"><\/script>');
    }
    </script>
    
    <!--  = _ =  -->
    <script src="js/underscore/underscore-min.js" type="text/javascript"></script>
    
    <!--  = Bootstrap =  -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    
    <!--  = Slider Revolution =  -->
    <script src="js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    
    <!--  = CarouFredSel =  -->
    <script src="js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>
    
    <!--  = jQuery UI =  -->
    <script src="js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui-1.10.3/touch-fix.min.js" type="text/javascript"></script>
    
    <!--  = Isotope =  -->
    <script src="js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
    
    <!--  = Tour =  -->
    <script src="js/bootstrap-tour/build/js/bootstrap-tour.min.js" type="text/javascript"></script>
    
    <!--  = PrettyPhoto =  -->
    <script src="js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>
    
    <!--  = Google Maps API =  -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDvMjN1g49P1MA2Onsj-GulDkmDuuH6aoU&amp;sensor=false"></script>
    <script type="text/javascript" src="js/goMap/js/jquery.gomap-1.3.2.min.js"></script>
    
    <!--  = Custom JS =  -->
    <script src="js/custom.js" type="text/javascript"></script>

  </body>
</html>

    
    