@{
    


    
}

 <header>
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <a class="brand" href="~/sistema/"><i class="icon-home icon-white"></i> Administração do Site</a>
                            <ul class="nav user_menu pull-right">
                                <li class="hidden-phone hidden-tablet">
                                    <div class="nb_boxes clearfix">
                                        <a data-toggle="modal" data-backdrop="static" href="#myMail" class="label ttip_b" title="Novas Mensagens">25 <i class="splashy-mail_light"></i></a>
                                        <a data-toggle="modal" data-backdrop="static" href="#myTasks" class="label ttip_b" title="Avisos do Sistema">10 <i class="splashy-calendar_week"></i></a>
                                    </div>
                                </li>
								<li class="divider-vertical hidden-phone hidden-tablet"></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@FuncaoUsuarios.NomeComepleto_Cod(WebSecurity.CurrentUserName) <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
										<li><a href="user_profile.html">Minha Conta</a></li>
										<li><a href="javascrip:void(0)">Another action</a></li>
										<li class="divider"></li>
										<li><a href="/" target="_blank">Visualizar o Site</a></li>
										<li class="divider"></li>
										<li><a href="#">Sair do Sistema (Log Out)</a></li>
                                    </ul>
                                </li>
                            </ul>
							<a data-target=".nav-collapse" data-toggle="collapse" class="btn_menu">
								<span class="icon-align-justify icon-white"></span>
							</a>
                            <nav>
                                <div class="nav-collapse">
                                    <ul class="nav">
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-list-alt icon-white"></i> Vendas & Pedidos <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Visualizar Vendas</a></li>
                                                <li><a href="#"> Relatórios &amp; Estatistica</a></li>           
                                                 <li class="divider"></li>
                                                <li><a href="#">Consultar pagamentos (api pagseguro)</a></li>
                                                <li><a href="#">Financeiro</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-th icon-white"></i> Produtos <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/sistema/produtos/cadastrar">Adicionar Produtos</a></li>
                                                <li><a href="/sistema/produtos/">Visualizar todos os Produtos</a></li>
                                                <li><a href="#"> Relatórios &amp; Estatistica</a></li>           
                                                 <li class="divider"></li>
                                                <li><a href="#">Gerenciar Categorias de Produtos</a></li>
                                                 <li class="divider"></li>
                                                <li><a href="#">Adicionar Promoção</a></li>
												<li><a href="/sistema/promocoes/">Visualizar todas as promoções</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-wrench icon-white"></i> Clientes & Usuários <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Visualizar Clientes</a></li>
                                                <li><a href="#">Grupo de Clientes</a></li>
                                                <li><a href="#">Programa de inidicação (afiliados)</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Administração de Contas</a></li>                      
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-file icon-white"></i> Conteúdo <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/sistema/mensagens/">Mensagens</a></li>
                                                <li><a href="#">Eventos &amp; Tarefas</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown">
													<a href="#">Blog <b class="caret-right"></b></a>
													<ul class="dropdown-menu">
														<li><a href="#">Nova Postagem</a></li>
														<li><a href="#">Visualizar todas as postagens</a></li>
														<li><a href="#">Configuração do blog</a></li>														
													</ul>
												</li>
                                                <li class="dropdown">
													<a href="#">Textos institucionais <b class="caret-right"></b></a>
													<ul class="dropdown-menu">
														<li><a href="#">Quem Somos</a></li>
														<li><a href="#">Sobre os Produtos</a></li>
														<li><a href="#">Compra Segura</a></li>
														<li><a href="#">Política de Troca</a></li>
														<li><a href="#">Política de Privacidade</a></li>                                                                                                                														
													</ul>
												</li>
                                                <li class="divider"></li>                                                              
												<li><a href="mailbox.html">Mailbox</a></li>
                                                <li><a href="search_page.html">Search page</a></li>
                                                <li><a href="user_profile.html">User profile</a></li>
												<li><a href="user_static.html">User profile (static)</a></li>
                                                <li class="dropdown">
													<a href="#">Sub menu <b class="caret-right"></b></a>
													<ul class="dropdown-menu">
														<li><a href="#">Sub menu 1.1</a></li>
														<li><a href="#">Sub menu 1.2</a></li>
														<li><a href="#">Sub menu 1.3</a></li>
														<li>
															<a href="#">Sub menu 1.4 <b class="caret-right"></b></a>
															<ul class="dropdown-menu">
																<li><a href="#">Sub menu 1.4.1</a></li>
																<li><a href="#">Sub menu 1.4.2</a></li>
																<li><a href="#">Sub menu 1.4.3</a></li>
															</ul>
														</li>
													</ul>
												</li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-file icon-white"></i> Configuração <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Informações sobre a loja</a></li>
                                                <li><a href="#">Formas de Pagamento</a></li>
												<li><a href="#">Formas de Entrega</a></li>
												<li><a href="#">Rede Social</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Template do Site</a></li>
                                                <li class="divider"></li>
												<li><a href="#">Ajuda</a></li>
                                            </ul>
                                        </li>

         
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="modal hide fade" id="myMail">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">×</button>
                        <h3>Novas Mensagens</h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info">In this table jquery plugin turns a table row into a clickable link.</div>
                        <table class="table table-condensed table-striped" data-rowlink="a">
                            <thead>
                                <tr>
                                    <th>Sender</th>
                                    <th>Subject</th>
                                    <th>Date</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Declan Pamphlett</td>
                                    <td><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></td>
                                    <td>23/05/2012</td>
                                    <td>25KB</td>
                                </tr>
                                <tr>
                                    <td>Erin Church</td>
                                    <td><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></td>
                                    <td>24/05/2012</td>
                                    <td>15KB</td>
                                </tr>
                                <tr>
                                    <td>Koby Auld</td>
                                    <td><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></td>
                                    <td>25/05/2012</td>
                                    <td>28KB</td>
                                </tr>
                                <tr>
                                    <td>Anthony Pound</td>
                                    <td><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></td>
                                    <td>25/05/2012</td>
                                    <td>33KB</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0)" class="btn">Visualizar Todas</a>
                    </div>
                </div>
                <div class="modal hide fade" id="myTasks">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">×</button>
                        <h3>New Tasks</h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info">In this table jquery plugin turns a table row into a clickable link.</div>
                        <table class="table table-condensed table-striped" data-rowlink="a">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Summary</th>
                                    <th>Updated</th>
                                    <th>Priority</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>P-23</td>
                                    <td><a href="javascript:void(0)">Admin should not break if URL&hellip;</a></td>
                                    <td>23/05/2012</td>
                                    <td class="tac"><span class="label label-important">High</span></td>
                                    <td>Open</td>
                                </tr>
                                <tr>
                                    <td>P-18</td>
                                    <td><a href="javascript:void(0)">Displaying submenus in custom&hellip;</a></td>
                                    <td>22/05/2012</td>
                                    <td class="tac"><span class="label label-warning">Medium</span></td>
                                    <td>Reopen</td>
                                </tr>
                                <tr>
                                    <td>P-25</td>
                                    <td><a href="javascript:void(0)">Featured image on post types&hellip;</a></td>
                                    <td>22/05/2012</td>
                                    <td class="tac"><span class="label label-success">Low</span></td>
                                    <td>Updated</td>
                                </tr>
                                <tr>
                                    <td>P-10</td>
                                    <td><a href="javascript:void(0)">Multiple feed fixes and&hellip;</a></td>
                                    <td>17/05/2012</td>
                                    <td class="tac"><span class="label label-warning">Medium</span></td>
                                    <td>Open</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0)" class="btn">Go to task manager</a>
                    </div>
                </div>
            </header>