@{




  var email = "";
  var senha = "";
  if(IsPost)
  {
    email = Request["email"];
    senha = Request["senha"];
    var lembrarme = Request["lembrarme"].AsBool();
    // Validação
    if (email.IsEmpty()) {
        ModelState.AddError("email", "Nome do usuário não pode estar em branco.");
    }
    if (senha.IsEmpty()) {
        ModelState.AddError("senha", "A senha deve ser informada.");
    }
    // tenta fazer o login
    if(ModelState.IsValid)
    {
       if(WebSecurity.Login(email, senha, lembrarme))
       {
           if (Request.QueryString["sender"] != null)
           {
              Response.Redirect(Request.QueryString["sender"]);
           }
           else
           {
               
              // carrinho.DefinirUF_Entrega(FuncaoEntrega.PesquisarUF(email));
               Response.Redirect("~/");

            }
        }
        else
        {
           ModelState.AddFormError("Não foi possível realizar o login.");
        }
     }
  }

    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
        @Html.ValidationSummary(true)
<form action="@Request.QueryString" method="post" class="contasFormulario">
<p>
                   
                            <div class="content">
                                <b>E-Mail Address:</b><br>
                                <input type="text" value="" name="email" id="email">
                                <br>
                                <br>
                                <b>Password:</b><br>
                                <input type="password" value="" name="senha" id="senha">
                                <br>
                                <a href="~/conta/redefinirsenha.cshtml">Esqueci a minha senha</a><br>
                                <br>
                                <label class="btn"><input type="submit" class="button" value="Login"></label>
                            </div>
                        </form>


    </body>
</html>
